.wd-darkblue {
    color:blue;
    background-color: black;
}
.wd-inline {
    display: inline-block;
    background-color: lightgreen;
}
.wd-green {
    background-color: lightgreen;
    color: green;
}
/* Below CSS is variant of Search Bar found from: https://www.sliderrevolution.com/resources/css-search-box/ */
.wd-search {
    width: 100%;
    position: relative;
    display: flex;
}
.wd-searchTerm {
    width: 100%;
    border: 3px solid green;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: green;
    background-color: lightgreen;
}
.wd-searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid green;
    background: green;
    text-align: center;
    color: lightgreen;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.wd-wrap{
    padding-right:8px;
    width: 30%;
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
}